html {
    background-color: #0d1117;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

body {
    padding: 0;
    width: 100%;
    height: auto;
    margin: 0;
}



p {
    color: #000000;
    text-align: center;
}

.cover-image-one {
    left: 38.8%;
}

.cover-image-two {
    right: 38.8%;
}

.img-one-two{
    bottom: 25%;
    position: absolute;
    filter: brightness(0);
}

.cover-image-three {
    bottom: 25%;
    position: absolute;
}

.header {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 550px;
    background-color: #f1f1f1;
    width: 100%;
    padding-top: 0;
}

.title{
    font-size: 4rem;
    margin-top: 0;
}

.body-content p{
    color: white;
}
